:root {
    --all_content_magrin_right: 13vw;
    --all_content_magrin_left: 6vw;
    --all_content_magrin_top: 9vh;
    --all_content_magrin_bottom: 9vh;

    --Company_title_width: 35vw;
    --Company_title_height: 26vh;

    --Company_logo_width: 15vw;
    --Company_logo_height: 9vw;

    --attributes_container_gap: 11vh;

    --authorization_form_width: 39vw;

    --authorization_form_title_height: 13%;
    --authorization_form_footer_height: 13%;


    --main_color: #009AAC;
}