.main_background {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    font-family: 'Comfortaa';
}

.local_header {
    position: absolute;
    height: 10vh;
    width: 45vw;
    top: 12vh;
    left: 49vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #009aad;
}

.company_title {
    font-size: 60px;
    text-align: center;
}

.error_ntf {
    font-size: 100px;
    text-align: center;
}

.local_midle {
    position: relative;
    top: 38vh;
    left: 62vw;
    width: 20vw;
    height: 55vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.error_code {
    font-size: 150px;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 0 #009aad, -2px -2px 0 #009aad, 2px -2px 0 #009aad, -2px 2px 0 #009aad;
    z-index: 1;
}

.button_block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
}

.glow_element {
    color: aliceblue;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }

    100% {
        text-shadow: 0 0 20px rgba(0, 154, 173, 1);
    }
}

.girl_image {
    position: absolute;
    width: 50vw;
    height: 102vh;
    top: -1vh;
    left: 0vw;
}

.blur_animation {
    animation-duration: 1s;
    animation-delay: 5s;
    animation: blur 6s infinite;
}

@keyframes blur {
    0% {
        filter: blur(10px);
    }

    20% {
        filter: blur(0px);
    }

    80% {
        filter: blur(0px);
    }
    90% {
        filter: blur(2px);
    }

    100% {
        filter: blur(5px);
    }
}
